
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@if(ViewBag.bookDetails != null)
{
    <p>
        "You checked out @(ViewBag.bookDetails.Title) on @(ViewBag.bookDetails.CheckedOutDate), and the due date is @(ViewBag.bookDetails.DueDate)."
    </p>
    @Html.ActionLink("Extend Due Date", "Details", "Book", new { id = ViewBag.bookDetails.ID, op = "extend" }) <br/>
    @Html.ActionLink("Return Book", "Details", "Book", new { id = ViewBag.bookDetails.ID, op = "return" }) <br />
    @Html.ActionLink("Delete Book", "Details", "Book", new { id = ViewBag.bookDetails.ID, op = "delete" }) <br />
}
@if(ViewBag.errorMessage != null)
{
    @(ViewBag.errorMessage)
}